@import '~bootstrap/scss/bootstrap';
body {
    background-color: rgb(131, 0, 255);
    color: white;
}
button{
    color: black;
}
h2{
    text-decoration: underline;
}
a{
    color:white;
}

li{
    list-style: none;
    display: inline-block;

}